@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 
  .heroButton{
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-sm
    tracking-widest text-gray-500 transition-all
    hover:border-[#5C9EAD]/80 hover:text-[#5C9EAD]
  }
  .codefont{
    font-family: 'Source Code Pro', monospace;
  }
  .body{
    font-family: 'Source Code Pro', monospace;
  }
  .icon-hover {
    opacity: 0.5;
  }
  
  .icon-hover:hover {
    opacity: 1;
    fill: red;
    cursor: pointer;
  }

  .li{
    white-space:pre;
  }
  .contactInput{
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 transition-all focus:hover:border-[#F7AB0A]/40
            focus:text-[#F7BA0A]/40
  }
  .gridcontainer {
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 70px;
  }
 

  }
  

